<div class="container ns-login-container">
    <form class="form-signin" name="resetPasswordRequest">
        <h3>Reset your password</h3>

        <label class="sr-only">Email or username</label>
        <input type="text" class="form-control" ng-model="restore.data.email" placeholder="Email or username" required autofocus>

        <div class="form-signin">
            <div vc-recaptcha key="'6LcxaAgTAAAAAD9tCyVRKP5h7i8Rjwwr5DnGfCQO'" on-create="restore.setRecaptchaId(widgetId)"></div>
        </div>

        <a class="btn btn-lg btn-primary btn-block" ng-disabled="resetPasswordRequest.$invalid" ng-click="restore.restorePassword()">Restore</a>
        <div class="ns-login-bottomline">
            <div class="col-sm-5">&nbsp;</div>
            <div class="col-sm-7">
                <div class="ns-subtitle">Having trouble reseting your password?</div>
                <ul>
                    <li><a href="#/register">Register</a> for a new account</li>
                    <li><a href="#/support">Contact</a> NichoShop Customer Support</li>
                </ul>

            </div>
        </div>
    </form>
</div>
