events {
  worker_connections 768;
}

http {
  include    /usr/local/etc/nginx/mime.types;

  server { # simple reverse-proxy
    listen       8080;

    root current_dir;
    expires 5s;

    location  /api/ {
      rewrite /api/(.*) /$1  break;
      proxy_pass         http://localhost:9090;
      proxy_redirect     off;
      proxy_set_header   Host $host;
    }
  }
}
