<!--
<div class="span12">
    <h2>List of products</h2>

    <div ng-repeat="(i, p) in products.data" class="ns-product span12">
        <div class="divider span12" ng-if="i > 0"></div>
        <table class="ns-product-item">
            <tr>
                <td colspan="2"><h4 class="ns-title">{{ p.title }}</h4>&nbsp;<a click-prevent="true" ng-click="products.productDescription(p.id, p.variants[0].id)" class="btn btn-success pull-right ns-add-to-card">Description</a></td>
            </tr>
            <tr>
                <td rowspan="3" class="col-md-3">
                    <img class="ns-image" ng-src="{{p.image}}">
                </td>
                <td class="col-md-9"> {{ p.description }}</td>
            </tr>
            <tr>
                <td>Price: <div class="ns-price">{{ p.price }}</div></td>
            </tr>
            <tr>
                <td> Something will be here </td>
            </tr>
            <tr>
                <td> Something will be here also </td>
                <td> And here as well </td>
            </tr>
        </table>
    </div>



</div>-->
