<form class="form-horizontal" name="resetPasswordRequest">
    <h2 class="form-signin-heading">Restore password. Please enter</h2>

    <div class="form-group">
        <label for="inputEmail" class="col-sm-6">Email address or Login</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="restore.data.email" placeholder="Email address or Login" autofocus>
        </div>
    </div>
    <div style="text-align: center"><h3>or</h3></div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-6">Phone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="restore.data.phone" placeholder="Phone number">
        </div>
    </div>
    <div class="form-group">
        <!--
                        <div class="checkbox col-sm-6">
                            <label class="pull-right">
                                <input type="checkbox" ng-model="restore.data.sendSMS"> Send SMS
                            </label>
                        </div>
        -->
        <div class="checkbox col-sm-6">
            <label>
                <input type="checkbox" ng-model="restore.data.makeACall"> Make a call
            </label>
        </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" ng-disabled="restore.data.phone == '' && restore.data.email == ''" ng-click="restore.restorePassword()">Restore</button>
</form>